.wrapper {
  margin: 20px auto;
  font-size: 40px;
  color: black;
  max-width: 555px;
  height: 150px;
}

.counter {
  margin: 0 auto;
}

.number {
  font-size: 80px;
  margin: 20px auto;
  color: rgba(0, 0, 0, 0.85);
  width: 200px;
  border: 5px solid rgba(244, 246, 244, 0.42);
  border-radius: 20px;
  height: 145px;
}

.spanCounter {
  text-align: center;
  vertical-align: middle;
}

.final {
  color: rgba(255, 0, 0, 0.72);
  margin: 20px auto;
  border: 5px solid rgba(255, 67, 74, 0.54);
  border-radius: 20px;
  height: 145px;
}