.inputDefault {
  border-radius: 5px;
  height: 50px;
  text-align: center;
  font-size: 30px;
}

.inputActive {
  background-color: rgba(38, 169, 21, 0.52);
  margin-top: 5px;
  margin-bottom: 5px;
}



.input {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}



.error {
  background-color: rgba(255, 0, 0, 0.6);
  margin-top: 5px;
  margin-bottom: 5px;

}

.spanTitle {
  padding-right: 10px;
  font-size: 33px;
}