.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inputDefault {
  margin: 0 auto;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
}

.inputActive {
  background-color: rgba(38, 169, 21, 0.52);
  margin-top: 5px;
  margin-bottom: 5px;
}

.input {
  max-width: 410px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: rgba(255, 0, 0, 0.6);
  margin-top: 5px;
  margin-bottom: 5px;
}

.spanTitle {
  padding-right: 10px;
  font-size: 33px;
}

@media (max-width: 410px) {
  .input {
    max-width: 280px;
}

  .error, .inputActive {
    max-width: 280px;

  }
}