.App {
  width: 100%;
  height: 100vh;
  background-color: rgba(180, 255, 38, 0.18);
}

.AppWrapper {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}

.SetCounter {
  width: 600px;
  height: 500px;
  border: 1px solid #fcbded;
  background-color: rgba(48, 51, 236, 0.47);
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
}

.SetCounter-title {
  margin-top: 30px;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.WrapperButtonsCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
}

.Set-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 45px;
  min-width: 200px;
}

.Wrapper-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fcbded;
  background-color: rgba(48, 51, 236, 0.47);
  border-radius: 5px;
  margin: 5px;
}