.App {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  max-width: 1200px;
  border-radius: 5px;
}

.SetCounter {
  max-width: 400px;
  border: 1px solid #fcbded;
  background-color: rgba(48, 51, 236, 0.47);
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
}

.SetCounter-title {
  margin-top: 30px;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.WrapperButtonsCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
}

.Set-input {
  margin-top: 30px;
}

.Wrapper-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fcbded;
  background-color: rgba(48, 51, 236, 0.47);
  border-radius: 5px;
  margin: 5px;

}